.container {
  margin-bottom: 50px;
  text-align: start;
}

.pathNavText {
  margin-top: 20px;
  display: inline;
  font-size: 2rem;
  color: #212033;
}

.pathNavLink {
  margin: 20px;
  cursor: pointer;
}

.authNavLink:hover {
  cursor: pointer;
}
