.container {
}

.linkText {
  margin-top: 20px;
  display: inline;
  font-size: 2rem;
  color: #212033;
}

.link {
  padding: 20px;
  cursor: pointer;
}

.link:hover {
  color: #27263d;
  border-bottom: 2px solid #27263d;
}
