.container {
  padding: 20px;
  margin: 0 20px 100px;
  max-width: 386px;
  cursor: pointer;
  border-radius: 8px;
}

.container:hover {
  box-shadow: 1px 1px 7px 1px #505050;
  margin-top: -2px;
}

.image {
  max-width: 354px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.description {
  margin-top: 20px;
}

.subtitle {
  height: 40px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.rateAndPrice {
  display: flex;
  justify-content: space-between;
  margin: 20px 15px 10px;
}

.price {
  font-weight: 500;
}
